/Kafka/logs/
/Zookeeper/zookeeper.out
/iot-parent.iml
/Client/target/
/Client/Client.iml
/Common/target/
/Common/Common.iml
/Dispatcher/target/
/Dispatcher/Dispatcher.iml
/TcpServer/target/
/TcpServer/TcpServer.iml
/AccountService/AccountService.iml
/AccountService/target/
/IMService/IMService.iml
/IMService/target/
/DAO/DAO.iml
/DAO/target/